
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Serif Display', serif;
}

ul {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar {
    position: relative;
    z-index: 5;
    background-color: #fff;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    color: #9e9e9e;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .3s;
}

nav ul li a:hover {
    color: #000;
}

.btn-dark {
    padding: 8px 24px;
    color: #656565;
    border: 2px solid #656565;
}

.btn-dark:hover {
    background-color: #000;
    color: #FFF;
    border: 2px solid #000;
}

section{
    height: 100vh;
    width: 100vw;
}

.hero{
    background-color: #2C2640;
    color: #fff;
    position: relative;
    height: 600px;
}

.hero::before{
    content: url("../img/bg-pattern-intro-left-desktop.svg");
    position: absolute;
    bottom: -50%;
    left:0;
}

.hero::after{
    content: url("../img/bg-pattern-intro-right-desktop.svg");
    position: absolute;
    top: -25%;
    right:0;
}

.hero .container{
    display: flex;
    align-items: center;
    column-gap: 40px;
    padding: 0 20px;
}

.hero-img{
    width: 100%;
    max-width: 540px;
    height: auto;
    transform: translateY(100px);
}

.hero-text{
    position: relative;
}

.hero-text::before{
    content: '';
    position: absolute;
    top: -70px;
    left: 0;
    height: 1px;
    width: 150px;
    background-color: #fff;
}

h1{
    font-size: 4rem;
    font-weight: 500;
    line-height: 4.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.btn-light{
    margin-top: 30px;
    display: inline-block;
    padding: 8px 24px;
    color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s;
    z-index: 1;
}

.btn-light:hover{
    background-color: #000;
}

.features{
    height: 500px;
}

.features .container img{
    width: 80px;
    margin: 60px 0 30px;
}

.features p{
    color: #9e9e9e;
    margin: 20px 0;
}


.flex{
    display: flex;
    column-gap: 50px;
}

.features h2{
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
    margin: 1rem 0;
}

.features-heading{
    position: relative;
}

.features-heading::before{
    content: '';
    position: absolute;
    top: -60px;
    left: 0;
    height: 2px;
    width: 150px;
    background-color: lightgray;
}


.how-we-work .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    background-color: #2C2640;
    padding: 60px;
    position: relative;
}

.how-we-work .container::before{
    content: url("../img/bg-pattern-how-we-work-desktop.svg");
    position: absolute;
    right: 0;
}


.how-we-work h1{
    color: #fff;
    font-size: 3rem;
    line-height: 3.5rem;
}

footer{
    background-color: rgba(207, 207, 207, 0.25);
    height: 400px;
    position: relative;
}

footer img{
    height: 20px;
    width: auto;
}

footer .icons ul{
    display: flex;
}

footer .icons ul li{
    margin-left: 15px;
}

.logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    border-bottom: 1px solid rgba(207, 207, 207, 0.6);
}



.footer{
    display: flex;
    justify-content: flex-start;
    column-gap: 200px;
    position: relative;
}

footer::before{
    content: url("../img/bg-pattern-footer-desktop.svg");
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.footer h2{
    color: rgba(158, 158, 158, 0.91);
    font-size: 1.2rem;
    margin: 15px 0;
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
}

footer ul li a{
    color: #000;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 0.9rem;
}